{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/elegant-icons.css' %}" >
    <link rel="stylesheet" href="{% static 'css/plyr.css' %}" >
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" >
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" >
    <link rel="stylesheet" href="{% static 'css/style.css' %}" >
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{% url 'index' %}">
                            <img src="{% static 'img/logoanime.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li><a href="{% url 'index' %}">Homepage</a></li>
                                <li><a href="./categories.html">Categories <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="./categories.html">Categories</a></li>
                                        <li><a href="./anime-details.html">Anime Details</a></li>
                                        <li><a href="./anime-watching.html">Anime Watching</a></li>
                                        <li><a href="./blog-details.html">Blog Details</a></li>
                                        <li><a href="./signup.html">Sign Up</a></li>
                                        <li><a href="./login.html">Login</a></li>
                                    </ul>
                                </li>
                                <li><a href="./blog.html">Our Blog</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="./login.html"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Normal Breadcrumb Begin -->
    
    <!-- Normal Breadcrumb End -->

    <!-- Signup Section Begin -->
    <section class="signup spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="blog__details__form">
                        <h4>Create your event</h4>
                        <form action="" method="POST">      
                            {% csrf_token %}
                            <div >
                                <div id="pricing_select" >
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="radio" id="price_free" name="rating_option" class="custom-control-input" value="entertainment" checked name="category">
                                        <label class="custom-control-label" for="price_free"> <p>Entertainment</p> </label>                    
                                    </div>  
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="radio" id="price_freee" name="rating_option" class="custom-control-input" value="professional" checked name="category">
                                        <label class="custom-control-label" for="price_freee"><p>Professional</p></label>                    
                                    </div>  
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="radio" id="price_fre" name="rating_option" class="custom-control-input" value="tech" checked name="category">
                                        <label class="custom-control-label" for="price_fre"><p>Tech</p></label>                    
                                    </div>  
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="radio" id="price_rel" name="rating_option" class="custom-control-input" value="educational" checked name="category">
                                        <label class="custom-control-label" for="price_rel"><p>Educational</p></label>                    
                                    </div>  
                                    <br>
                                    <br>   
                                </div>
                            </div>              
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">             
                                    <input type="text" placeholder="Title" name="title">
                                </div>                               
                                <div class="col-lg-6 col-md-6 col-sm-6">                                    
                                    <input type="datetime-local"  name="date">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">                                    
                                    <input type="text" name="limit" placeholder="Tickets available">
                                </div >
                                <div class="col-lg-6 col-md-6 col-sm-6">                                    
                                    <input type="text" name="limit" placeholder="Price">
                                </div >
                                
                                <div class="col-lg-6 col-md-4 col-sm-4">                                   
                                    <input type="file" name="image">
                                </div>
                                
                                <div class="col-lg-12">                                   
                                    <textarea placeholder="Description" name="description"></textarea>
                                    
                                </div>
                                
                              
                            </div>
                            <button type="submit" class="site-btn">Create</button>
                           
                        </form>
                    </div>
                </div>
              
            </div>
        </div>
    </section>
    <!-- Signup Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="page-up">
            <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer__logo">
                        <a href="{% url 'index' %}"><img src="{% static 'img/logoanime.png' %}" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer__nav">
                        <ul>
                            <li class="active"><a href="{% url 'index' %}">Homepage</a></li>
                            <li><a href="./categories.html">Categories</a></li>
                            <li><a href="./blog.html">Our Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3">
                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

                  </div>
              </div>
          </div>
      </footer>
      <!-- Footer Section End -->

      <!-- Search model Begin -->
      <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/player.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>

</html>